{% extends "_base.html.twig" %}

{% block title %}{{ page.title }}{% endblock %}

{% block head %}
	 <!-- Bootstrap -->
	<link href="{{ path('/qwik/lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
	
    <!-- Site -->
    <link rel="stylesheet" href="{{ path('/q/templates/style.css') }}" type="text/css" media="screen, projection">

{% endblock %}

{% block body %}
    <img src="{{ path('/q/templates/images/background1.jpg') }}" class="superbg" alt="background" />
	{% include "templates/top.html.twig" %}

	<div class="container main">
	    <div class="row">
		    <div class="span12">{{page.getZone('zone1')}}</div>
	    </div>
	</div>

	{% include "templates/bottom.html.twig" %}
    <script src="{{ path('/q/templates/background.js') }}" type="text/javascript"></script>

{% endblock %}
