{% set level = level + 1 %}


{% if children.plats|length > 0 %}
	<ul class="qwik-restaurant-plats">
	{% for plat in children.plats %}
		<li class="qwik-restaurant-plat">
            <p class="qwik-restaurant-text">
                <span class="qwik-restaurant-title qwik-restaurant-background">
                    {{ plat.title| translate }}
                    {% if plat.description is defined %}<br /> <span class="qwik-restaurant-description">{{ plat.description | translate }}</span>{% endif %}
                </span>

            </p>
            <span class="qwik-restaurant-price qwik-restaurant-background">{{ plat.price }} {{ money }}</span>
		</li>
	{% endfor %}
	</ul>
    <div class="qwik-restaurant-plats-after"></div>
{% endif %}

{% if children.menu|length > 0 %}
	<ul class="qwik-restaurant-menu">
	{% for m in children.menu %}
		<li>
		 	<p class="qwik-restaurant-level qwik-restaurant-level{{ level }}">{{ m.title | translate }}</p>
		    {% include module.getName() ~ "/views/tree.html.twig" with {'children' : m.children, 'level' : level}%}
	    </li>
	{% endfor %}
	</ul>
{% endif %}


