

{% set style = '' %}

{% if this.getPosition() == 'center' %}
{% set style = 'margin-left: auto;margin-right: auto;' %}
{% elseif this.getPosition() == 'left' %}
{% set style = 'float: left;' %}
{% elseif this.getPosition() == 'right' %}
{% set style = 'float: right;' %}
{% endif  %}

{% if this.getWidth() != '' %}
{% set style = style ~ 'width:' ~ this.getWidth() ~ ';' %}
{% endif  %}

<div class="qwik-gallery" style="{{ style }}">
{% for file in this.getFiles() %}<!--
	--><a href="{{ asset('/' ~ this.getVirtualUploadPath() ~ file) }}" data-fancybox-group="{{ this.getInfo().getUniqId() }}" class="fancybox" target="_blank" title="{% if this.hasSubtitle() %}{{ file | toTitle }}{% endif %}"><img alt="{{ file | toTitle }}" src="{{ asset('/' ~ this.getThumbnailPath() ~ '/' ~ file) }}" height="{{ this.getInfo().getConfig().get('config.thumbnail').height}}" width="{{ this.getInfo().getConfig().get('config.thumbnail').width}}"/></a><!--
-->{% endfor %}
</div>
