<meta charset="utf-8" />
<title>{% block title %}{{ page.getSite().getTitle() ~ ' - ' ~ page.getTitle() }}{% endblock %}</title>
<meta name="Description" content="{{ page.getDescription() | translate }}">
<meta name="Keywords" content="{{ page.getKeywords() | translate }}">
<meta name="viewport" content="width=device-width">
<meta name="author" content="Qwik">

<script src="{{ app.getBaseUrl() }}qwik/js/jquery.js"></script>
{% for file in page.getFiles('css') %}
    <link href="{{ app.getBaseUrl() }}{{ file.getPath() }}" rel="stylesheet" media="all">
{% endfor %}
