<form method="post" data-id="{{ module.getUniqId() }}" novalidate="novalidate" class="form-horizontal qwik-form" action="{{ app.getBaseUrl() }}{{ action }}">
    {% for field in fields %}
        <div id="{{ module.getUniqId() }}_{{ field.getName() }}" class="control-group qwik-form-form-field">
            <label class="control-label">{{ field.getLabel() | translate }} {% if field.isRequired() %}*{% endif %}</label>
            <div class="controls">
                {{ field }}
                <span class="help-inline qwik-form-field-message" style="display:none;"></span>
            </div>
        </div>
    {% endfor %}


    <div class="qwik-form-success alert alert-success" style="display:none">
        <i class="icon-ok"></i> {{ module.translate('form.emailSent') | translate }}
    </div>

    <div class="qwik-form-error alert alert-error" style="display:none" data-default="{{ module.translate('form.unexpectedError') | translate | e }}">
        <i class="icon-remove"></i> <span class="message"></span>
    </div>

    <div class="control-group">
        <div class="controls">
            <input type="hidden" value="{{ module.getUniqId() }}" name="_uniqId" />
            <input type="hidden" value="{{ module.getZone().getName() }}" name="_zone" />
            <input type="hidden" value="{{ module.getZone().getPage().getUrl() }}" name="_page" />
            <button>{{ module.translate('form.send') | translate }} <img class="qwik-form-spinner" src="{{ app.getBaseUrl() }}/qwik/module/form/images/spinner.gif" alt="..." /></button>
        </div>
    </div>

</form>

