{% set style = '' %}

{% if position == 'center' %}
{% set style = 'margin-left: auto;margin-right: auto;' %}
{% elseif position == 'left' %}
{% set style = 'float: left;' %}
{% elseif position == 'right' %}
{% set style = 'float: right;' %}
{% endif  %}

{% if width != '' %}
{% set style = style ~ 'width:' ~ width ~ ';' %}
{% endif  %}

<div class="qwik-gallery" style="{{ style }}">
{% for file in files %}<!--
	--><a href="{{ path('/' ~ module.getZone().getPage().getSite().getVirtualUploadPath() ~ file) }}" data-fancybox-group="{{ module.getUniqId() }}" class="fancybox" target="_blank" title="{% if subTitle %}{{ file | toTitle }}{% endif %}"><img alt="{{ file | toTitle }}" src="{{ path('/' ~ module.getThumbnailPath() ~ '/' ~ file) }}" height="{{ module.thumbnailInfos.height}}" width="{{ module.thumbnailInfos.width}}"/></a><!--
-->{% endfor %}
</div>
