{% extends "_base.html.twig" %}

{% block title %}{{ page.title }}{% endblock %}

{% block head %}
	 <!-- Bootstrap -->
	<link href="{{ app.getBaseUrl() }}qwik/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	
    <!-- Site -->
    <link rel="stylesheet" href="{{ app.getBaseUrl() }}q/templates/style.css" type="text/css" media="screen, projection">

    <style>
        body{
            background-color: #FFFFFF;
        }
        .carre-last{
            background-color: #44A729;
            color: #FFFFFF;
        }
        .address{
            padding-top:72px;
        }
        .carre{
            position:relative;
            margin-top:20px;
            height: 200px;
            text-align: center;
            width:200px;
        }
        .carre a {
            display:block;
        }
        .carre-logo{
            background-color: #FFFFFF;
            line-height: 200px;
        }
        .carre-logo img{
            left: -21px;
            max-width: none;
            position: relative;
            width: 240px;
        }

        .carre-image{
            background:url('{{ app.getBaseUrl() }}q/templates/images/home/1.jpg') no-repeat scroll center 0 transparent;
        }
        .carre-image2{
            background-image: url('{{ app.getBaseUrl() }}q/templates/images/home/2.jpg');
        }
        .carre-image3{
            background-image: url('{{ app.getBaseUrl() }}q/templates/images/home/3.jpg');
        }
        .carre-image4{
            background-image: url('{{ app.getBaseUrl() }}q/templates/images/home/4.jpg');
        }
        .carre-image5{
            background-image: url('{{ app.getBaseUrl() }}q/templates/images/home/5.jpg');
        }
        .carre-image6{
            background-image: url('{{ app.getBaseUrl() }}q/templates/images/home/6.jpg');
        }
        .carre-image7{
            background-image: url('{{ app.getBaseUrl() }}q/templates/images/home/7.jpg');
        }
        .carre-line{
            font-size: 30px;
            position:absolute;
            background-color: rgb(255, 255, 255); /* alternative solide */
            /*CSS3*/
            background-color: rgba(255, 255, 255, 0.8);
            top:75px;
            width:100%;
            height: 50px;
            line-height: 50px;
        }

        .container{
            width:640px;
        }

        .seat-home-phone{
            font-size: 17px;
            font-weight: bold;
        }
    </style>

    <!--[if lte IE 8]>
    <style type="text/css">
        /*http://www.alsacreations.com/tuto/lire/909-CSS-transparence-couleur-rgba.html*/
        .carre-line {
            background:transparent;
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C0ffffff,endColorstr=#C0ffffff);
            zoom: 1;
        }
    </style>
    <![endif]-->

{% endblock %}

{% block body %}

<div class="container carres">
    <div class="row">
        <div class="span4 carre carre-logo"><img src="{{ app.getBaseUrl() }}q/templates/images/logo_small.png" /></div>
        <div class="span4 carre carre-image carre-image1">
            <div class="carre-line"><a href="{{ app.getBaseUrl() }}fr/presentation">Présentation</a></div>
        </div>
        <div class="span4 carre carre-image carre-image2">
            <div class="carre-line"><a href="{{ app.getBaseUrl() }}fr/gallery">Galerie</a></div>
        </div>
    </div>

    <div class="row">
        <div class="span4 carre carre-image carre-image3"><div class="carre-line"><a href="{{ app.getBaseUrl() }}fr/menu">Menu</a></div></div>
        <div class="span4 carre carre-image carre-image4"><div class="carre-line"><a href="{{ app.getBaseUrl() }}fr/take">Take Away</a></div></div>
        <div class="span4 carre carre-image carre-image5"><div class="carre-line"><a href="{{ app.getBaseUrl() }}fr/business">Business Lunch</a></div></div>
    </div>

    <div class="row">
        <div class="span4 carre carre-image carre-image6"><div class="carre-line"><a href="{{ app.getBaseUrl() }}fr/traiteur">Traiteur</a></div></div>
        <div class="span4 carre carre-image carre-image7"><div class="carre-line"><a href="{{ app.getBaseUrl() }}fr/contact">Contact</a></div></div>
        <div class="span4 carre carre-last">
            <div class="address">
                Centre commercial "La Mazerine"<br />
                Avenue Albert Ier – 1332 Genval<br />
                <span class="seat-home-phone">02/653.10.33</span>
            </div>

        </div>
    </div>


</div>
	{% include "templates/bottom.html.twig" %}

{% endblock %}
